n8n/workflow-2-update-notify.json
{
  "name": "MC Panel — Güncelleme Bildirimi Gönder",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Güncelleme Bildirimi Gönder",
        "formDescription": "Opted-in tüm panel sahiplerine güncelleme maili gönderir.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Versiyon",
              "placeholder": "v1.2.0",
              "requiredField": true
            },
            {
              "fieldLabel": "Changelog URL",
              "placeholder": "https://github.com/mwlih28/mc-manage-panel/releases/tag/v1.2.0",
              "requiredField": false
            }
          ]
        },
        "options": {}
      },
      "id": "b1b2c3d4-0002-0002-0002-000000000001",
      "name": "Form — Versiyon Gir",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [240, 300],
      "webhookId": "mc-panel-update-form"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1oaW6EQMvRmvNVwQs1XbfgaTjvvMDC8e4zLArMn6aJMw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Kurulumlar",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Güncelleme Bildir",
              "lookupValue": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "b1b2c3d4-0002-0002-0002-000000000002",
      "name": "Google Sheets — Aboneleri Çek",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [460, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@kretase.com",
        "toEmail": "={{ $json['Email'] }}",
        "subject": "={{ 'MC Manage Panel ' + $('Form — Versiyon Gir').item.json['Versiyon'] + ' çıktı! 🚀' }}",
        "emailType": "html",
        "html": "={{ '<div style=\"font-family:system-ui,sans-serif;max-width:520px;margin:0 auto;background:#111113;border:1px solid #1e1e22;border-radius:12px;overflow:hidden;\">' + '<div style=\"background:linear-gradient(135deg,#1a2a3a,#111827);padding:32px;text-align:center;\">' + '<h1 style=\"margin:0;color:#fff;font-size:22px;\">🚀 MC Manage Panel</h1>' + '<p style=\"margin:6px 0 0;color:#93c5fd;font-size:13px;\">' + $('Form — Versiyon Gir').item.json['Versiyon'] + ' yayında!</p>' + '</div>' + '<div style=\"padding:32px;\">' + '<p style=\"color:#e4e4e7;font-size:15px;\">Merhaba ' + ($json['İsim'] || 'kullanıcı') + ',</p>' + '<p style=\"color:#a1a1aa;font-size:14px;\">MC Manage Panel\\'in yeni versiyonu çıktı. Verilerini kaybetmeden tek komutla güncelleyebilirsin:</p>' + '<div style=\"background:#161b22;border:1px solid #30363d;border-radius:8px;padding:16px;margin:20px 0;\">' + '<p style=\"color:#93c5fd;font-size:12px;font-weight:600;\">GÜNCELLEME KOMUTU</p>' + '<code style=\"color:#86efac;font-size:12px;font-family:monospace;\">bash &lt;(curl -fsSL https://raw.githubusercontent.com/mwlih28/mc-manage-panel/main/scripts/update-panel.sh)</code>' + '</div>' + ($('Form — Versiyon Gir').item.json['Changelog URL'] ? '<a href=\"' + $('Form — Versiyon Gir').item.json['Changelog URL'] + '\" style=\"display:inline-block;background:#2563eb;color:#fff;font-size:13px;font-weight:600;text-decoration:none;padding:10px 20px;border-radius:8px;\">Changelog</a>' : '') + '</div>' + '<div style=\"padding:16px;background:#0d0f11;border-top:1px solid #1e1e22;text-align:center;\">' + '<p style=\"color:#52525b;font-size:11px;\">MC Manage Panel · kretase.com</p>' + '</div></div>' }}",
        "options": {}
      },
      "id": "b1b2c3d4-0002-0002-0002-000000000003",
      "name": "SMTP — Güncelleme Maili",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [680, 300],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "Resend SMTP"
        }
      }
    }
  ],
  "connections": {
    "Form — Versiyon Gir": {
      "main": [
        [
          { "node": "Google Sheets — Aboneleri Çek", "type": "main", "index": 0 }
        ]
      ]
    },
    "Google Sheets — Aboneleri Çek": {
      "main": [
        [
          { "node": "SMTP — Güncelleme Maili", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [{ "name": "mc-panel" }],
  "pinData": {}
}
