n8n/workflow-3-newsletter.json
{
  "name": "Kretase — Newsletter Kayıt + Hoş Geldin Maili",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mc-panel-newsletter",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000001",
      "name": "Webhook — Newsletter",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "mc-panel-newsletter"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1oaW6EQMvRmvNVwQs1XbfgaTjvvMDC8e4zLArMn6aJMw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Newsletter",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.body.email }}",
            "İsim": "={{ $json.body.name }}",
            "İsim İzni": "={{ $json.body.nameConsent }}",
            "Kaynak": "={{ $json.body.source }}",
            "Tarih": "={{ $now }}"
          }
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000002",
      "name": "Google Sheets — Listeye Ekle",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [460, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@kretase.com",
        "toEmail": "={{ $('Webhook — Newsletter').item.json.body.email }}",
        "subject": "Welcome to Kretase updates! 🎮",
        "emailType": "html",
        "html": "={{ '<div style=\"font-family:system-ui,sans-serif;max-width:520px;margin:0 auto;background:#0a0d12;border:1px solid #1a2230;border-radius:12px;overflow:hidden;\">' + '<div style=\"background:linear-gradient(135deg,#0f2a3a,#111827);padding:32px;text-align:center;\">' + '<div style=\"width:48px;height:48px;background:linear-gradient(135deg,#22d3ee,#6366f1);border-radius:10px;display:inline-flex;align-items:center;justify-content:center;font-size:22px;font-weight:900;color:#fff;margin-bottom:12px;\">K</div>' + '<h1 style=\"margin:0;color:#fff;font-size:20px;font-weight:800;\">You\\'re subscribed!</h1>' + '<p style=\"margin:8px 0 0;color:#93c5fd;font-size:13px;\">Kretase release notifications</p>' + '</div>' + '<div style=\"padding:32px;\">' + '<p style=\"color:#e4e4e7;font-size:15px;margin-bottom:8px;\">Hi ' + ($('Webhook — Newsletter').item.json.body.name || 'there') + ',</p>' + '<p style=\"color:#94a3b8;font-size:14px;line-height:1.7;\">You\\'re now subscribed to Kretase release updates. We\\'ll send you a quick email whenever a new version drops — with the exact update command so you can upgrade in one line.</p>' + '<div style=\"background:#0d1117;border:1px solid #1a2230;border-radius:8px;padding:16px;margin:24px 0;\">' + '<p style=\"color:#64748b;font-size:11px;font-weight:700;text-transform:uppercase;letter-spacing:0.08em;margin-bottom:8px;\">Update command (for future versions)</p>' + '<code style=\"color:#86efac;font-size:12px;font-family:monospace;\">bash &lt;(curl -fsSL https://raw.githubusercontent.com/mwlih28/mc-manage-panel/main/scripts/update-panel.sh)</code>' + '</div>' + '<p style=\"color:#94a3b8;font-size:14px;line-height:1.7;\">Questions or feedback? Reply to this email — we read everything.</p>' + '</div>' + '<div style=\"padding:16px;background:#0d0f11;border-top:1px solid #1a2230;text-align:center;display:flex;justify-content:space-between;align-items:center;\">' + '<p style=\"color:#374151;font-size:11px;margin:0;\">Kretase · kretase.com</p>' + '<a href=\"https://kretase.com\" style=\"color:#22d3ee;font-size:11px;text-decoration:none;\">Visit website →</a>' + '</div></div>' }}",
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000003",
      "name": "SMTP — Hoş Geldin Maili",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [680, 300],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "Resend SMTP"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000004",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook — Newsletter": {
      "main": [[{ "node": "Google Sheets — Listeye Ekle", "type": "main", "index": 0 }]]
    },
    "Google Sheets — Listeye Ekle": {
      "main": [[{ "node": "SMTP — Hoş Geldin Maili", "type": "main", "index": 0 }]]
    },
    "SMTP — Hoş Geldin Maili": {
      "main": [[{ "node": "Response", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "mc-panel" }],
  "pinData": {}
}
