n8n/workflow-3-name-consent.json
{
  "name": "Kretase — İsim İzni E-postası Gönder",
  "nodes": [
    {
      "parameters": {},
      "id": "e5f6a7b8-0003-0003-0003-000000000001",
      "name": "Manuel Tetikle",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1oaW6EQMvRmvNVwQs1XbfgaTjvvMDC8e4zLArMn6aJMw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Kurulumlar",
          "mode": "name"
        },
        "options": {}
      },
      "id": "e5f6a7b8-0003-0003-0003-000000000002",
      "name": "Google Sheets — Tüm Kayıtlar",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [460, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@kretase.com",
        "toEmail": "={{ $json['Email'] }}",
        "subject": "Hızlı bir soru — adınızı kullanabilir miyiz? 👋",
        "emailType": "html",
        "html": "={{ '<div style=\"font-family:system-ui,sans-serif;max-width:520px;margin:0 auto;background:#0a0d12;border:1px solid #1a2230;border-radius:12px;overflow:hidden;\">' + '<div style=\"background:linear-gradient(135deg,#0f2a3a,#111827);padding:32px;text-align:center;\">' + '<div style=\"width:48px;height:48px;background:linear-gradient(135deg,#22d3ee,#6366f1);border-radius:10px;display:inline-flex;align-items:center;justify-content:center;font-size:22px;font-weight:900;color:#fff;margin-bottom:12px;\">K</div>' + '<h1 style=\"margin:0;color:#fff;font-size:20px;font-weight:800;\">Hızlı bir soru</h1>' + '</div>' + '<div style=\"padding:32px;\">' + '<p style=\"color:#e4e4e7;font-size:15px;margin-bottom:16px;\">Merhaba ' + ($json['İsim'] || 'değerli kullanıcı') + ',</p>' + '<p style=\"color:#94a3b8;font-size:14px;line-height:1.75;\">Kretase\\'i kurduğunuz için çok teşekkürler! Sizi tanımaktan mutluluk duyuyoruz.</p>' + '<p style=\"color:#94a3b8;font-size:14px;line-height:1.75;margin-top:12px;\">Sitemizdeki referanslar, duyurular ve topluluk içeriklerinde <strong style=\"color:#e4e4e7;\">adınızı kullanabilir miyiz?</strong> (Sunucu adı, domain gibi teknik bilgileri paylaşmayacağız — sadece isminiz.)</p>' + '<div style=\"display:flex;gap:12px;margin:28px 0;flex-wrap:wrap;\">' + '<a href=\"https://mcpanel.app.n8n.cloud/webhook/mc-panel-consent?email=' + encodeURIComponent($json['Email']) + '&consent=yes\" style=\"display:inline-block;background:#22d3ee;color:#000;font-size:14px;font-weight:700;text-decoration:none;padding:12px 24px;border-radius:8px;\">✅ Evet, kullanabilirsiniz</a>' + '<a href=\"https://mcpanel.app.n8n.cloud/webhook/mc-panel-consent?email=' + encodeURIComponent($json['Email']) + '&consent=no\" style=\"display:inline-block;background:#1a2230;color:#94a3b8;font-size:14px;font-weight:600;text-decoration:none;padding:12px 24px;border-radius:8px;border:1px solid #1e2d40;\">❌ Hayır, teşekkürler</a>' + '</div>' + '<p style=\"color:#374151;font-size:13px;line-height:1.6;\">Yanıt vermek zorunda değilsiniz — karar vermek için zaman alabilirsiniz. Herhangi bir sorunuz varsa bu e-postaya yanıt verebilirsiniz.</p>' + '</div>' + '<div style=\"padding:16px;background:#0d0f11;border-top:1px solid #1a2230;display:flex;justify-content:space-between;align-items:center;\">' + '<p style=\"color:#374151;font-size:11px;margin:0;\">Kretase · kretase.com</p>' + '<a href=\"https://kretase.com\" style=\"color:#22d3ee;font-size:11px;text-decoration:none;\">kretase.com</a>' + '</div></div>' }}",
        "options": {}
      },
      "id": "e5f6a7b8-0003-0003-0003-000000000003",
      "name": "SMTP — İzin E-postası",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [680, 300],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "Resend SMTP"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "mc-panel-consent",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "e5f6a7b8-0003-0003-0003-000000000004",
      "name": "Webhook — Yanıt Al",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 520],
      "webhookId": "mc-panel-consent"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1oaW6EQMvRmvNVwQs1XbfgaTjvvMDC8e4zLArMn6aJMw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Kurulumlar",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "İsim İzni": "={{ $json.query.consent === 'yes' ? 'Evet' : 'Hayır' }}",
            "İzin Tarihi": "={{ $now }}"
          }
        },
        "where": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json.query.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e5f6a7b8-0003-0003-0003-000000000005",
      "name": "Google Sheets — İzni Kaydet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [460, 520]
    },
    {
      "parameters": {
        "respondWith": "html",
        "responseBody": "={{ '<html><head><meta charset=\"UTF-8\"><style>body{font-family:system-ui,sans-serif;background:#0a0d12;color:#e4e4e7;display:flex;align-items:center;justify-content:center;min-height:100vh;margin:0;} .box{text-align:center;padding:40px;max-width:400px;} .icon{font-size:48px;margin-bottom:16px;} h1{font-size:22px;font-weight:800;color:#fff;margin-bottom:8px;} p{color:#94a3b8;font-size:14px;line-height:1.6;} a{color:#22d3ee;}</style></head><body><div class=\"box\"><div class=\"icon\">' + ($json.query.consent === 'yes' ? '✅' : '👍') + '</div><h1>' + ($json.query.consent === 'yes' ? 'Teşekkürler!' : 'Anladık!') + '</h1><p>' + ($json.query.consent === 'yes' ? 'Tercihiniz kaydedildi. Adınızı içeriklerimizde kullanabiliriz.' : 'Tercihiniz kaydedildi. Adınızı kullanmayacağız.') + '</p><p style=\"margin-top:20px;\"><a href=\"https://kretase.com\">kretase.com\\'a dön →</a></p></div></body></html>' }}",
        "options": {}
      },
      "id": "e5f6a7b8-0003-0003-0003-000000000006",
      "name": "Response — Teşekkür Sayfası",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 520]
    }
  ],
  "connections": {
    "Manuel Tetikle": {
      "main": [[{ "node": "Google Sheets — Tüm Kayıtlar", "type": "main", "index": 0 }]]
    },
    "Google Sheets — Tüm Kayıtlar": {
      "main": [[{ "node": "SMTP — İzin E-postası", "type": "main", "index": 0 }]]
    },
    "Webhook — Yanıt Al": {
      "main": [[{ "node": "Google Sheets — İzni Kaydet", "type": "main", "index": 0 }]]
    },
    "Google Sheets — İzni Kaydet": {
      "main": [[{ "node": "Response — Teşekkür Sayfası", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "mc-panel" }],
  "pinData": {}
}
